.code {
    color: white;
    display: block;
    padding: 10px;
}

.linear-gradient-background {
    background-image: linear-gradient(cyan, blue, black);
}

.row { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.columnCard {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 20px;
    width: 350px;
    margin: 10px;
}


h1, h2, h3 {
    text-align: center;
}


main {
    width: 96%;
    margin: 2rem auto;
  }